<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.johannesdevries.southafricanorganweights">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Organ Weights"
        android:supportsRtl="true"
        >
        <activity
            android:name=".OrganWeights"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Results"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>